<section class="container py-3">
        <h2 class="pl-0 page-heading"><i class="fas fa-gift mr-3"></i>Khuyến mãi hôm nay !</h2>
                <div class="row">
                    
                        <div class="col-sm-4 col-md-3">
                               <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/n/9/n95_240x201_1.jpg">
                        </div>
                        <div class="col-sm-4 col-md-3">
                               <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/h/a/happy-new-year-240x201_1.png">
                        </div>
                        <div class="col-sm-4 col-md-3">
                               <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/d/o/doreamon_web_app_240x201.jpg">
                        </div>
                        <div class="col-sm-4 col-md-3">
                               <img src="https://www.cgv.vn/media/banner/cache/1/b58515f018eb873dafa430b6f9ae0c1e/c/g/cgv-crm-team-chi-1-duoc-2-240x201_1.jpg">
                        </div>
                </div>
</section>