<p>Xin chào <%= @resource.email %>!</p>

<p>Bạn vừa yêu cầu một liên kết khôi phục lại mật khẩu ? Vui lòng vào link dưới đây để khôi phục.</p>

<p><%= link_to 'Thay đổi mật khẩu !', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không nhấp vào link trên. Mật khẩu của bạn sẽ không bị thay đổi !</p>

